
@{
    ViewBag.Title = "PedirDatos";
}

<h2>PedirDatos</h2>
<form typeof="post">
    <p>
        Nombre: <input type="text" name="Apellido"/>
        <br />
        Nombre: <input type="text" name="Nombre" />
        <br />
        <input type="submit" value="Submit!" />
    </p>
</form>
